table {
   font-family: arial, sans-serif;
   border-collapse: collapse;
   width: 100%;
 }
 
 td, th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
 }
 
 tr:nth-child(even) {
   background-color: #dddddd;
 }

 .title{
  text-align: center;
  margin: 0;
  padding: 16px;
  background: gray;
  color: #fff;
 }
 .btn-holder{
    text-align: center;
    padding: 20px;
 }
 .btn-holder button{
  color: #fff;
  background: #307b1d;
  padding: 10px;
  border: 0;
  border-radius: 3px;
 }